.im-invitation-card {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;

}
.im-invitation-card .im-title {
    font-size: 15px;
    margin-left: 20px;
    margin-bottom:0;
    text-transform: capitalize;
    
}
.im-invitation-card .im-sub-title {
    font-size: 12px;
    margin-left: 20px;
    margin-top:5px;
}