
.mg-textarea {
    /* width: 100%; */
    width: 90%;
}

.mg-textarea textarea {
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 15px;
    padding: 12px;
    padding-right: 12.8%;
    margin: 5px 0;
    outline: none;
}


